@font-face {
    font-family: 's';
    src: url('../Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: 's';
    font-weight: 600 !important;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: .25rem;
}

::-webkit-scrollbar-thumb{
    background-color: orangered;
}

input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input[type = number]{
    -moz-appearance: textfield;
}

a,
button {
text-decoration: none;
  transition: transform 0.1s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a:active,
button:active {
  transform: scale(0.95);
}

main {
    width: 100%;
}

header {
    width: 100%;
    height: 0;
    font-size: 0;
    min-height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: min-height .5s;
}

header > h1 {
    font-weight: lighter;
    width: auto;
    text-align: center;
    color: white;
}

header > img {
    min-width: 15%;
}

.quoter {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}

.origen {
    color: orangered;
}

.ddv-container {
    display: flex;
    flex-wrap: wrap;
}

.dest, .dval {
    border: 0.1rem solid black;
    border-radius: 2rem;
    color: teal;
    padding: 0.5rem 1rem;
}

.dest {
    position: relative;
}

.dest > input, .dval > input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
}

.dest > ul {
    position: absolute;
    top: calc(100% - .5rem);
    left: -0.25rem;
    width: calc(100% + 0.5rem);
    min-height: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    border-radius: 1rem 0 0 1rem;
    border: 0.1rem solid white;
}

.dest > ul > button {
    width: 100%;
    height: 2rem;
    font-size: 0.8rem;
    background: transparent;
    border: none;
    outline: none;
    text-align: left;
    padding: 0 1rem;
    color: white;
    letter-spacing: 0.1rem;
}

.dest > input:focus + ul {
    min-height: 2rem;
    max-height: 12rem;
    border-width: 0.1rem;
}

.require {
    color: red;
}

.valided::after {
    content: "✔";
    color: rgb(3, 202, 3);
}

.invalided::after {
    content: "✘";
    color: red;
}

.loading::after {
    content: "x";
    color: transparent;
    background: url("../assets/loading.gif") center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.dest::after {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
}

.ddv-container legend,
.pkg-container legend {
  background-color: rgb(0, 120, 175);
  color: white;
  border: 0.1rem solid white;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  text-align: justify;
}

.pkg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.pkg-data {
    width: calc(33% - 0.5rem);
    border: 0.1rem solid black;
    color: teal;
}

.pkg-data > input {
    width: 100%;
    border: none;
    outline: none;
    color: #222;
    background-color: transparent;
}

.action {
    border-radius: 0.5rem;
    border: 0.1rem solid white;
    background-color: teal;
    color: white;
}

.loading-result::before {
    width: 50%;
    aspect-ratio: 1 / 1;
    content: 'x';
    color: transparent;
    background: url('../assets/loading-result.gif') center no-repeat;
    background-size: 100%;
    border-radius: 50%;
    box-shadow: 0 0 1rem 0.01rem #aaa;
}

.loading-result::after {
    width: 100%;
    text-align: center;
    content: "cargando";
    font-size: 1.25rem;
    color: orangered;
}

.result {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.2s;
}

.r-list {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    line-height: 0;
    color: #222;
    font-size: 0.8rem;
}

.r-list span {
    color: orangered;
    font-size: 1rem !important;
}

.close {
    position: absolute;
    top: 2.5%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #222;
    transition: transform 0.2s;
}

.close:active {
    transform: rotate(720deg);
}

.result .nq {
    background-color: orangered;
    color: white;
    border: 0.1rem solid white;
    aspect-ratio: 1/0.3;
    border-radius: 2rem;
    font-size: 1rem;
}

.pkg-list {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
}

.pkg-list > table {
    width: 100%;
    text-align: center;
    margin: 0;
}

.pkg-list > table thead {
    background-color: orangered;
    color: white;
}

.pkg-list tbody tr:nth-child(even) {
    background-color: #ddd;
}

.pkg-list  td button:after {
    content: '🗑️';
}

/* formats */ 

#formats {
    position: relative;
    overflow: hidden;
}

#formats form {
    height: auto;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.format-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: .5rem;
}

.camp {
    color: white;
}

.camp > input {
    width: 100%;
    padding-left: .5rem;
    margin-top: .5rem;
    border: .1rem solid black;
    outline: .1rem solid white;
}

#packages > label > input {
    border: .1rem solid black;
    outline: .1rem solid white;
}

#formats legend {
    width: 100%;
    font-size: 1.5rem;
    color: orangered;
    text-transform: uppercase;
}

#formats > legend {
  text-align: justify;
}

#formats textarea {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

#formats > div {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: .5rem;
}

#formats > div > input, #formats > div > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered !important;
    border: .1rem solid white;
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
}

#packages > label {
    text-align: center;
    color: white;
}

#sending-form {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: .5rem;
    pointer-events: none;
    transition: opacity .2s;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    gap: 2rem !important;
}

#sending-form > img {
    width: 50%;
    aspect-ratio: 1/.95;
    border-radius: 50%;
    border: .15rem solid white;
    box-shadow: 0 0 1rem .1rem #aaa;
}

#sending-form::after {
    content: 'Enviando, porfavor espere';
    color: white;
    font-size: 1.2rem;
}
