* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url('/src/assets/iStock_000019501469_Small.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}

header {
    padding: 1.5rem 1rem;
}

header > h1 {
    font-size: 1.5rem;
    min-width: 100%;
    transition: min-width 0.75s;
}

header > img {
    width: 15%;
    min-width: 0;
    transition: width 0.5s;
}

/* quoter */ 

.quoter {
    width: 500px;
    height: auto;
    padding: .5rem;
    justify-content: center;
    border: 0.1rem solid orangered;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.1rem #999;
    background-color: #ffffffbb;
}

.quoter legend {
    font-size: 1rem;
    width: 100%;
}

.origen {
    font-size: 2rem !important;
    text-transform: uppercase;
}

.ddv-container > legend, 
.pkg-container > legend {
    padding: 1rem 0.5rem;
    box-shadow: 0 0 1rem 0.1rem #999;
    font-size: .9rem;
}

.ddv-container {
    width: 100%;
    height: auto;
    gap: 1rem;
}

.dest, .dval {
    width: calc(50% - 0.5rem);
    aspect-ratio: 1/0.25;
    display: block;
    box-shadow: 0 0 1rem 0.1rem #999;
}

.dest > input, .dval > input {
    font-size: 0.9rem;
}

.dest > ul {
    box-shadow: 0 0 1rem 0.1rem #999;
    border-width: 0;
}

.dest > ul > button {
    cursor: pointer;
}

.dest > ul > button:hover {
    color: orangered;
}

.pkg-container {
    width: 100%;
    height: auto;
}

.pkg-data {
    display: block;
    aspect-ratio: 1/0.3;
    background-color: #ffffffbb;
    border: 0.1rem solid black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 1rem 0.1rem #999;
}

.pkg-data > input {
    font-size: 0.9rem;
}

.action {
    width: calc(33%/2 - .5rem);
    aspect-ratio: 1/0.25;
    box-shadow: 0 0 1rem 0.1rem #999;
    font-size: .8rem;
    cursor: pointer;
}

.action:hover {
    background-color: rgb(240, 240, 240);
    border-color: black;
    color: black;
}

.pkg-list {
    height: 10rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 0.1rem solid orangered;
    box-shadow: 0 0 1rem 0.1rem #999;
}

.pkg-list  td {
    border: 0.1rem solid #999;
    border-radius: 0.25rem;
}

.pkg-list  td button:after {
    cursor: pointer;
}

/* Resultado */
.result {

    left: -100vw;
}

.r-list {
    padding: 1rem;
}

.r-list > div {
    margin-top: 3rem;
}

.result .nq {
    box-shadow: 0 0 1rem 0.1rem #999;
    outline: none;
    margin: 2rem;
}

.result .nq:hover {
    background-color: darkred;
    cursor: pointer;
}

.close {
    right: 3.5%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

/* formats */ 

#formats {
    width: 500px;
}

#formats form {
    width: 500px;
    height: 100%;
    overflow: hidden;
    grid-template-columns: repeat(3, 500px);
    border-radius: .5rem;
}

.format-container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    background-color: #000000;
}

.format-container > label {
    color: turquoise !important;
    font-size: .9rem;
}

.camp {
    width: calc(50% - .5rem);
}

.camp > input {
    height: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem .1rem black;
}

#formats > legend {
    font-size: 1.8rem;
    margin: 2rem 0;
}

#formats > div {
    aspect-ratio: 1/.225;
    background-color: #000000;
    padding: .5rem;
    border-radius: .5rem;
}

#formats > div > input, #formats > div > a {
    border-radius: .25rem;
    box-shadow: none;
}

#formats > div > input:hover, #formats > div > a:hover {
    opacity: .8;
    cursor: pointer;
} 

#packages {
    display: grid;
    grid-template-columns: repeat(6, 15%);
}

#packages > label {
    width: 100%;
    font-size: .75rem;
    color: turquoise !important;
}

#packages > label:nth-child(7) {
    grid-column: 1/8;
}

#packages > label > input {
    margin-top: .5rem;
    width: 100%;
    border-radius: .1rem;
}
