* {
  scroll-behavior: smooth;
}

/* Estilos generales para HTML y body */
html {
  font-size: calc((100vw + 100vh) / 2 * 0.027);
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Estilos de la sección principal */
main {
  height: auto;
  min-height: 100%;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll; 
  margin-top: 1rem;
}

/* Estilos del encabezado */
header {
  height: auto;
  padding: 0;
}

header > h1 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

header > img {
  width: 50%;
  height: 50%;
}

/* Estilos de la sección de bienvenida */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-image: url('/src/assets/iStock_000019501469_Small.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.welcome > h1,
.welcome > h3 {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
  margin: 0;
}

.welcome > h3 {
  margin-bottom: 0.5rem;
}

.welcome > h1 {
  margin: 1rem 0;
  color: orangered;
}

.welcome span {
  color: blue;
  margin: 0;
}

.welcome > a {
  width: 70%;
  aspect-ratio: 1 / 0.3;
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-color: orangered;
  border: 0.1rem solid white;
  color: white;
  box-shadow: 0 0 2rem 0.01rem grey;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos del quotér */
.quoter {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  background-image: url('/src/assets/iStock_000019501469_Small.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.quoter legend {
  width: 100%;
}

.origen {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.ddv-container {
  gap: 0.5rem;
}

.dest,
.dval {
  width: 100%;
  aspect-ratio: 1 / 0.1;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem 0.01rem #aaa;
  font-weight: bold;
  background-color: #ffffffbb;
}

.dest > input,
.dval > input {
  padding: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.dest > ul {
  border-width: 0;
  box-shadow: 0 0 1rem 0.1rem #999;
}

.dest > ul > button:active {
  color: orangered;
}

.ddv-container legend,
.pkg-container legend {
  box-shadow: 0 0 1rem 0.01rem #aaa;
  letter-spacing: 0.05rem;
  padding: 0.75rem;
  text-align: justify;
}

/* Estilos del paquete */

.pkg-container {
  justify-content: space-between;
}

.pkg-data {
  aspect-ratio: 1 / 0.5;
  padding: 0 0.35rem;
  border: 0.1rem solid black;
  box-shadow: 0 0 1rem 0.1rem #aaa;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.pkg-data > input {
  font-size: 1rem;
}

.action {
  width: calc(33% - 0.5rem);
  aspect-ratio: 1 / 0.5;
  font-size: 1rem;
  box-shadow: 0 0 1rem 0.01rem #aaa;
}

.pkg-container a {
  width: calc(33% - 0.5rem);
  aspect-ratio: 1 / 0.5;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem #aaa;
  border: 0.1rem solid white;
  color: white;
}

/* Resultado */

.result {
  left: -100%;
  padding: 1rem 0;
  gap: 2rem;
}

.r-list {
  color: #222;
  padding: 0.5rem 1rem;
}

.r-list > div {
  margin-top: 2rem;
}

.close {
  right: 5%;
  font-size: 1.5rem;
}

.result > .nq {
  box-shadow: 0 0 1rem 0.01rem #aaa;
}

.pkg-list {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100vw;
  transition: right 0.2s;
  padding: 15% 2.5%;
}

.pkg-list  td {
  border: .05rem solid #333;
  border-radius: .1rem;
}

.pkg-list tr {
  height: 1.8rem;
}

.pkg-list tbody tr button::after {
  font-size: 1rem;
  background-color: transparent;
}

/* formats */ 

#formats {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: flex-start;
  grid-template-rows: .5fr 3.5fr 1fr;
  grid-template-columns: 1fr;
  padding: 1rem .5rem;
  background-color: #ffffff;
  background-image: url('/src/assets/iStock_000019501469_Small.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#formats form {
  grid-template-columns: repeat(3, 100%);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000cc;
}

.format-container {
  flex-direction: column;
  padding: .5rem;
}

.camp {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: turquoise;
}

.camp > input {
  aspect-ratio: 1/.1;
  border-radius: 1rem;
  font-size: 1rem;
  outline: none;
}

#formats > legend {
  font-size: 1.5rem;
}

#formats > div {
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1/.25;
}

#formats > div > input, #formats > div > a {
  border-radius: .5rem;
  box-shadow: none; 
  border: .1rem solid black;
}

#formats > div > a:nth-child(3){
  grid-row: 2;
}

#formats > div > a:nth-child(5) {
  grid-row: 1/3;
  grid-column: 3;
  padding: 1rem;
  text-align: center;
  background-color: teal !important;
}

#packages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: center;
}

#packages > label {
  width: 30%;
  margin-top: .5rem;
  font-size: 1rem;
  color: turquoise;
}

#packages > label:nth-child(7) {
  width: 100%;
}

#packages > label > input {
  width: calc(100% - 1rem);
  height: 15%;
  margin-top: .5rem;
  box-shadow: 0 0 .1rem 0.05rem black;
  border-radius: 1rem;
  font-size: .9rem;
  text-align: center;
  outline: none;
}

